



<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->




<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if current_user.subscribed? %>
          <%= render 'form' %>
        <% else %>
          <br><br><br><br><br>
                <!-- Profile Sidebar -->
                  <div class="col-md-12 col-lg-12 col-xl-12">

                    <h2 class="text-center">Vous devez être abonnés à la plateforme pour inscrire votre entreprise</h2>

                  </div>
          <br><br><br><br><br>
        <% end %>
      </div>
    </div>
  </div>
</div>