<h1 class="text-uppercase">Vous devez être abonnés à la plateforme pour inscrire votre entreprise</h1>
<br><br><br>
<div class="container">
  <!-- Row / Start -->
  <div class="row">

    <div class="col-md-12">
      <div class="pricing-container margin-top-30">

        <!-- Plan #1 -->

        <div class="plan">

          <div class="plan-price">
            <h3>Basique</h3>
            <span class="value">Gratuit</span>
            <span class="period">Gratuit pour les particuliers qui veulent prendre rendez-vous avec une entreprise</span>
          </div>

          <div class="plan-features">
            <ul>
              <li>Accès à vie</li>
              <li>Prise de rendez-vous avec artisan</li>
              <li>24/7 Support</li>
            </ul>
            <div class="clinic-booking">
              <a class="abonnement-btn" href="#">Souscrire</a>
            </div>
          </div>

        </div>

        <!-- Plan #3 -->
        <div class="plan featured">

          <!--<div class="listing-badge">
            <span class="featured">Featured</span>
          </div>-->

          <div class="plan-price">
            <h3>Professionnel</h3>
            <span class="value">59€</span>
            <span class="period">Abonnez-vous et inscrivez votre entreprise directement</span>
          </div>
          <div class="plan-features">
            <ul>
              <li>1 entreprise</li>
              <li>Accès à vie</li>
              <li>Accessible directement dans les résultats de recherche</li>
              <li>24/7 Support</li>
            </ul>
            <div class="clinic-booking">
              <%= link_to 'Souscrire', new_subscriber_path, :class => "abonnement-btn" %>
            </div>
          </div>
        </div>

        <!-- Plan #3 -->
        <div class="plan">

          <div class="plan-price">
            <h3>Premium</h3>
            <span class="value">189€</span>
            <span class="period">Ajouter autant d'entreprises que vous voulez</span>
          </div>

          <div class="plan-features">
            <ul>
              <li>Entreprise illimitées</li>
              <li>Accès à vie</li>
              <li>Accessible directement dans les résultats de recherche</li>
              <li>24/7 Support</li>
            </ul>
            <div class="clinic-booking">
              <%= link_to 'Souscrire', new_premium_path, :class => "abonnement-btn" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Row / End -->
</div>
<br><br><br>