<div class="container">
  <h2 class="titre-faq">Questions fréquentes</h2>

  <div class="row faq">
    <div class="col-md-12">
      <h3>Quel est le concept ?</h3>
      <p>Le concept est une plateforme qui permet aux personnes ayant besoin les services d'un artisan de pouvoir en trouver un près de chez soit et de sélectionner le meilleur en ce basant sur les avis des autres personnes ayant déjà fait appel à cet artisan.</p>
      <p>Mais également aux artisans qui veulent développer leurs clientèles de souscrire à l'abonnement leurs permettant d'être référencer sur la plateforme.</p>

      <h3>Existe-t-il des conditions pour s'inscrire sur la plateforme ?</h3>
      <p>Non, aucunes conditions particulière pour s'inscrire sur la plateforme mis à part des informations de base.</p>

      <h3>A qui s'adresse l'abonnement permettant d'enregistrer son entreprise ?</h3>
      <p>Pour les artisans souhaitant enregistrer leur(s) entreprise(s) sur la plateforme pour développer leurs clientèles grâce à la visite de nombreux particuliers qui cherchent des artisans pour différents besoins.</p>

      <h3>Peut-on annuler l'abonnement à tout moment ?</h3>
      <p>Oui, il n'y a aucunes conditions pour annuler l'abonnement permettant d'enregistrer son entreprise.</p>
      <p>Par conséquent le/les entreprise(s) enregistrée sur la plateforme du souscripteur seront supprimer et donc plus référencée.</p>

    </div>
  </div>

</div>