<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title"> Politique de confidentialité </h4>
          <ul class="list-unstyled mt-4">
            <li class="list-inline-item h6 date text-muted"> <span class="text-dark">Dernière révision:</span> 10 novembre, 2020</li>
          </ul>
          <div class="page-next">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><%= link_to 'Accueil', root_path %></li>
                <!--<li class="breadcrumb-item"><a href="#">Page</a></li>-->
                <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Politique de confidentialité', politique_de_confidentialite_path, :class => "breadcrumb-item active" %></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>  <!--end col-->
    </div><!--end row-->
  </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!-- Start Privacy -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <h5 class="card-title">Informations générales :</h5>
            <p class="text-muted">Bienvenue sur notre page Politique de confidentialité! Lorsque vous utilisez nos services de site Web, vous nous faites confiance avec vos informations. Cette politique de confidentialité est destinée à vous aider à comprendre quelles données nous collectons, pourquoi nous les collectons et ce que nous en faisons. Lorsque vous partagez des informations avec nous, nous pouvons rendre nos services encore meilleurs pour vous. Par exemple, nous pouvons vous montrer des résultats de recherche et des annonces plus pertinents, vous aider à vous connecter avec des personnes ou à rendre le partage avec d'autres plus rapide et plus facile. Lorsque vous utilisez nos services, nous voulons que vous sachiez clairement comment nous utilisons les informations et comment vous pouvez protéger votre vie privée. C'est important; nous espérons que vous prendrez le temps de le lire attentivement. N'oubliez pas que vous pouvez trouver des contrôles pour gérer vos informations et protéger votre vie privée et votre sécurité. Nous avons essayé de le garder aussi simple que possible. Concernant l'achat d'un service, aucun remboursement n'est possible car vous utilisez directement les ressources de Datafter.</p>
            <p class="text-muted">In the 1960s, the text suddenly became known beyond the professional circle of typesetters and layout designers when it was used for Letraset sheets (adhesive letters on transparent film, popular until the 1980s) Versions of the text were subsequently included in DTP programmes such as PageMaker etc.</p>
            <p class="text-muted">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or nonsensical stories.</p>

            <h5 class="card-title">Nous utilisons vos informations pour :</h5>
            <ul class="list-unstyled text-muted">
              <li><i data-feather="arrow-right" class="fea icon-sm mr-2"></i>Exploiter notre entreprise et fournir (y compris améliorer et personnaliser) les services que nous offrons.</li>
              <li><i data-feather="arrow-right" class="fea icon-sm mr-2"></i>Envoyer des communications y compris des communications promotionnelles, et afficher de la publicité.</li>
              <li><i data-feather="arrow-right" class="fea icon-sm mr-2"></i>Vérifier l'authenticité de votre entreprise (si vous êtes artisans)</li>
             <!-- <li><i data-feather="arrow-right" class="fea icon-sm mr-2"></i>Digital Marketing Solutions for Tomorrow</li>
              <li><i data-feather="arrow-right" class="fea icon-sm mr-2"></i>Our Talented & Experienced Marketing Agency</li>
              <li><i data-feather="arrow-right" class="fea icon-sm mr-2"></i>Create your own skin to match your brand</li>-->
            </ul>

            <h5 class="card-title">Information Provided Voluntarily :</h5>
            <p class="text-muted">In the 1960s, the text suddenly became known beyond the professional circle of typesetters and layout designers when it was used for Letraset sheets (adhesive letters on transparent film, popular until the 1980s) Versions of the text were subsequently included in DTP programmes such as PageMaker etc.</p>

            <a href="javascript:void(0)" class="btn btn-primary">Print</a>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End Privacy -->