<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title"> Réservation effectuée avec succés </h4>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<br><br><br>
<!-- Page Content -->
<div class="content success-page-cont">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-lg-6">

        <!-- Success Card -->
        <div class="card success-card">
          <div class="card-body">
            <div class="success-cont">
              <%= image_tag 'tick.png', :class => 'img-fluid' %>
              <br><br>
              <h3>Vous pouvez consulter votre réservation sur la page Mes rendez-vous.</h3>
              <br><br>
              <%= link_to 'Mes rendez-vous', vos_rendez_vous_path, :class => 'btn btn-primary view-inv-btn'%>
            </div>
          </div>
        </div>
        <!-- /Success Card -->

      </div>
    </div>

  </div>
</div>
<!-- /Page Content -->
<br><br><br>