<!-- Content
================================================== -->

<!-- Coming Soon Page -->
<div class="coming-soon-page">
  <div class="container">
    <!-- Search -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <h3>Merci de votre message</h3>
        <h3>Vous recevrez une réponse très bientôt</h3>



      </div>
    </div>
    <!-- Search Section / End -->
  </div>
</div>
<!-- Coming Soon Page / End -->