<!-- Content
================================================== -->

<!-- Coming Soon Page -->
<div class="coming-soon-page" style="background: image-url(main-search-background-01.jpg) no-repeat;">
  <div class="container">
    <!-- Search -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <img src="/assets/logovitartisan2.png" alt="">

        <h3>Merci de votre message</h3>
        <h3>Vous recevrez une réponse très bientôt</h3>



      </div>
    </div>
    <!-- Search Section / End -->
  </div>
</div>
<!-- Coming Soon Page / End -->